# Azure DevOps Pipeline for PeerView Application

trigger:
- main
- develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  # Backend variables
  pythonVersion: '3.9'
  backendPath: 'backend'
  
  # Frontend variables
  nodeVersion: '18.x'
  frontendPath: 'frontend'

stages:
- stage: Build
  displayName: 'Build and Test'
  jobs:
  - job: BackendBuild
    displayName: 'Backend Build and Test'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(pythonVersion)'
      displayName: 'Use Python $(pythonVersion)'
    
    - script: |
        cd $(backendPath)
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      displayName: 'Install backend dependencies'
    
    - script: |
        cd $(backendPath)
        python -m pytest tests/ -v --junitxml=test-results.xml || echo "No tests found"
      displayName: 'Run backend tests'
    
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFiles: '$(backendPath)/test-results.xml'
        testRunTitle: 'Backend Tests'
  
  - job: FrontendBuild
    displayName: 'Frontend Build and Test'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
      displayName: 'Use Node.js $(nodeVersion)'
    
    - script: |
        cd $(frontendPath)
        npm ci
      displayName: 'Install frontend dependencies'
    
    - script: |
        cd $(frontendPath)
        npm run test -- --watch=false --browsers=ChromeHeadless
      displayName: 'Run frontend tests'
    
    - script: |
        cd $(frontendPath)
        npm run build
      displayName: 'Build frontend'
    
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(frontendPath)/dist'
        artifactName: 'frontend-dist'

- stage: Deploy
  displayName: 'Deploy to Azure'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - deployment: DeployBackend
    displayName: 'Deploy Backend to Azure App Service'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appType: 'webAppLinux'
              appName: '$(backendAppName)'
              package: '$(Pipeline.Workspace)/$(backendPath)'
              runtimeStack: 'PYTHON|3.9'
  
  - deployment: DeployFrontend
    displayName: 'Deploy Frontend to Azure Static Web Apps'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureStaticWebApp@0
            inputs:
              app_location: '$(frontendPath)'
              output_location: 'dist'
              azure_static_web_apps_api_token: '$(staticWebAppsToken)'